# arquivos e pastas que devem permanecer somente na maquina local
**/*.local
**/*.local.*

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.pnpm-store

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Test coverage
coverage/

# Playwright
playwright-report/
test-results/

# binario gerado pelo bun build --compile
nuxtbin